.postContainer {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid lightsalmon;
}

.loading {
    text-align: center;
}